node_modules
lambda.zip
crash.log
todo.txt
test.js
*.zip
.terraform
terraform.tfvars
terraform.tfstate
terraform/terraform.tfstate.backup
config.json

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist